*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

/* navbar section */
.navbar{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
    height: 80px;
    padding: 0 20px;
    z-index: 1000;
}

.global-nav .nav{
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    background: #fff;
    display: flex;
    height: 80px;
    justify-content: space-between;

}

.nav .left{
    display: flex;
    align-items: center;
}

.nav .left .logo{
    display: block;
    height: 49px;
    margin-right: 16px;
}

.nav .left .logo:hover{
    transform: scale(1.1);
}

.nav .left .location-div{
    display: flex;
    align-items: center;
    margin-left: 30px;
    max-width: 300px;
    height: 30px;
    padding-right: 11px;
    font-size: 14px;
    cursor: pointer;
}

.left .location-div .other{
    border-bottom: 2px solid #3d4152;
    font-weight: 700;
    color: #3d4152;
    padding-bottom: 2px;
}
.left .location-div .other:hover{
    color: #fc8019;
    border-bottom: 2px solid #fc8019;
}

.left .location-div .location{
    font-weight: 300;
    margin-left: 5px;
    padding-left: 5px;
    color: #686b78;

}

.left .location-div .arrow-down{
    margin-left: 5px;
    color: #fc8019;
}

.right{
    position: relative;
}

.right .items{
    display: flex;
}

.right .items li{
    list-style-type: none;
    font-weight: 500;
    font-size: 16px;
    color: #3d4152;
    margin-right: 36px;
}

.right .items .nav-item{
    display: flex;
    align-items: center;
    padding-left: 28px;
    height: 80px;
    cursor: pointer;
}

.right .items .nav-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3d4152;
    font-size: 16px;
}

.nav-item span{
    padding-left: 11px;
}

.right .items li:last-child a svg{
    color: greenyellow;
}


/* Main section */
.content-section{
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding-top: 42px;
    top: 80px;
    background: #fff;
    left: 10px;
}

.container .item-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

.container .item-bar .number{
    font-weight:700;
    font-size: 28px;
    color: #3d4152;
}

.container .item-bar  .filters{
    display: flex;
    align-items: center;
    font-weight: 300;
    color: #687b78;
    font-size: 16px;
    cursor: pointer;
}

.filters div{
    margin-left: 35px;
}

.restaurant-list{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-bottom: 85px;
    padding-top: 39px;
    margin-top: 20px;
}

.restaurant-list .place-link{
    text-decoration: none;
    background-color: #fff;
    color: inherit;
}
.restaurant-list .list-item{
    padding: 25px;
    border: 1px solid #fff;
}

.restaurant-list .list-item:hover{
    border: 1px solid #d3d5df;
    box-shadow: 0px 4px 7px 0px rgba(218 220 230 / 60%);
}

.item-content .top-img{
    background: #eef0f5;
    width: 254px;
    height: 160px;
}

.item-content{
    position: relative;
}

.top-img img{
    opacity: 0.8;
}

.status{
    position: absolute;
    top: 0px;
    background-color: rgb(58, 60, 65);
    left: -8px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 9px 4px;
    text-transform: uppercase;
    border-color: rgb(30, 32, 35) transparent;
}

.status::before{
    position: absolute;
    bottom: -9px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: inherit;
    left: 0;
    border-width: 9px 0 0 9px;
}
.place-name-div{
    margin-top: 14px;
}
.place-name-div .name{
    font-size: 17px;
    font-weight: 500;
}
.place-name-div .food-items{
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
    font-weight: 300;
}

.info-div{
    display: flex;
    align-items: center;
    margin-top: 18px;
    font-size: 13px;
    justify-content: space-between;
    color: #535665;
    font-weight: 300;
}

.info-div .rating{
    color: #fff;
    padding: 0 5px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.rating .icon-star{
    font-size: 10px;
    margin-right: 5px;
    position: relative;
    top: -1px
}

.rating-green{
    background: green
}
.rating-orange{
    background-color: #db7c38;
}

.offer-div{
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
    margin-top: 14px;
    color: #8a584b;
    display: flex;
    align-items: center;
}

.offer-div .icon-offer-filled{
    font-size: 16px;
    width: 20px;
    height: 16px;
    margin-right: 4px;
}

.offer-div .offer-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}

.place:hover .quick-view{
    visibility: visible;
}

.place .quick-view{
    visibility: hidden;
    font-size: 13px;
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
    margin-top: 14px;
    text-align: center;
}

.quick-view .view-btn{
    color: #5d8ed5;
    text-transform: uppercase;
    font-weight: 600;
}


@media screen and (min-width: 1243px) and (max-width: 1270px){
    .global-nav .nav{
        min-width: 991px;
        margin: 0px 21px;
    }
    .right .items li{
        margin-right: 27px;
    }
    .container .item-bar .filters{
        margin-right: 38px;
    }
}

@media screen  and (max-width: 1242px){
    .global-nav .nav{
        min-width: 1000px;
        justify-content: center;
    }
    .right .items li{
        margin-right: 29px;
    }
    .container .item-bar, .restaurant-list{
        margin: 0 auto;
        width: 960px;
    }
    .container .item-bar .number{
        font-size: 25px;
    }

    .filters div{
        font-size: 15px;
    }
    .item-content .top-img, .top-img img{
        width: 200px;
        height: 130px;
    }
    .info-div{
        font-size: 11px;
    }
    .offer-div .offer-text{
        font-size: 12px;
    }
    
}


@media screen and (min-width: 382px) and (max-width:480px) {
    .restaurant-list{
        grid-template-columns: repeat(2,50%);
    }
    .item-content .top-img, .top-img img{
        width: 100%;
        height: 268px;
    }
    .status{
        font-size: 29px;
    }
    .place-name-div {
       margin-top: 34px;
    }
    .place-name-div .name {
        font-size: 38px;
    }
    .place-name-div .food-items{
        font-size: 31px;
        margin-top: 25px;
    }

    .info-div{
        font-size: 25px;
        margin-top: 50px;
    }

    .offer-div .offer-text{
        font-size: 28px;
        line-height: 2.2;
    }
    .offer-div .icon-offer-filled{     
        position: relative;
        top: -9px;
        margin-right: 18px;
        font-size: 28px;
    }
    
}