.a, .b, .c, .d{
    width: 100px;
    height: 80px;
    position: absolute;
}
.a{
    background-color: red;
    /* top: 0px; */
    /* z-index: 3; */
}

.b{
    background-color: green;
    /* top:-70px; */
    /* z-index: 1; */
}

.c{
    background-color: yellow;
    /* top: -150px; */
    /* z-index: 2; */
}

.d{
    background-color: blue;
    /* top: -230px; */
    /* z-index: 6; */
}

img{
    position: absolute;
    z-index: -1;
}
p{
    position: absolute;
    top: 30px;
    z-index: 2;
    background-color: lightblue;
}