/* Descendant selector(space) */
div li{
    color: lightblue;
    font-size: 40px;
}

/* child selector (>) */
div > section{
    background-color: red;
}

/* Adjacent sibling selector(+) */
/* the h1 tag that is adjacent sibling
 of p tag should get color red */
p + h1{
    color: red;
}
p + p{
    color: green;
}

/* general Sibling selector(~) */
.para ~ .para1{
    color: blue;
}

/* pseudo-classes */
.btn{
    background-color: red;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

input:focus{
    outline: none;
    border: 2px solid red;
}

.item:link{
    color: royalblue;
    text-decoration: none;
}

.item:visited{
    color: red;
}
.item:hover{
    color: pink;
}

.item:active{
    color: blueviolet;
}

.btn:hover{
    background-color: yellow;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

/* Pseudo elements */
.task::after{
    content: "This is a paragraph";
}
.task::first-letter{
    color: red;
}

.task::first-line{
    color: green;
}

::marker{
    color: green;
}

/* Attribute selectors */
input[type="text"]{
    color: red;
    font-size: 20px;
}
a[target="_blank"]{
    background-color: yellow;
}